.swal-rtl {
  direction: rtl;
  text-align: right;
}
th {
  text-align: center;  
}
thead,thead tr td , thead th {
  background-color: #173D7B;
}
/* table border color #173D7B */
table {
  border: 5px solid #173D7B;  
}
